@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Add this to your CSS file */
/* Add this to yur CSS file */
.text-outline {
  color: white; /* or any base color */
  text-shadow: -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000,
    0.5px 0.5px 0 #000;
}
