@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f2e7;
}

body {
  @apply bg-[var(--background)];
}

/* Add this to your CSS file */
/* Add this to yur CSS file */
.text-outline {
  color: white; /* or any base color */
  text-shadow:
    -0.8px -0.8px 0 #000,
    0.8px -0.8px 0 #000,
    -0.8px 0.8px 0 #000,
    0.5px 0.5px 0 #000;
}

* {
  cursor: none;
}
